{% extends 'user/base.html' %}
{% block title %}Events{% endblock %}
{% block content %}
{% for data in event_weather_data %}
<div class="card mt-2">
    <div class="card-header"><strong>@{{ data.event.created_by.username }}</strong></div>
    <div class="card-body d-flex flex-row justify-content-between">
        <div>
            <h5 class="card-title">{{ data.event.title }}</h5>
            <p>Description: {{ data.event.description }}</p>
            <p>Latitude: {{ data.event.coordinate.latitude }}</p>
            <p>Longitude: {{ data.event.coordinate.longitude }}</p>
            <p>Start date: {{ data.event.start_date }}</p>
            <p>End date: {{ data.event.end_date }}</p>
            {% if data.temperature and data.humidity %}
            <p>Temperature: {{ data.temperature }}°C</p>
            <p>Humidity: {{ data.humidity }}%</p>
            {% else %}
            <p>Weather data not available.</p>
            {% endif %}
        </div>
        <div>
            {% if user == data.event.created_by %}
                <p><a href="{% url 'edit_event' data.event.id %}" class="btn btn-primary">Edit</a></p>
                <p><a href="{% url 'delete_event' data.event.id %}" class="btn btn-danger">Delete</a></p>
            {% endif %}
        </div>
    </div>
    <div class="card-footer text-muted">{{ data.event.created_at }}</div>
</div>
{% empty %}
<p>No events available yet</p>
{% endfor %}
{% endblock %}
